<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title><%= pageTitle %></title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" width="125px" alt="Logo"></a>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
        </nav>
        
        <a href="/cart"><img src="/images/cart.png" width="30px" height="30px" alt="Cart"></a>
        <img src="/images/menu.png" onclick="menutoggle()" class="menu-icon" alt="Menu Icon">
      </div>
  <main>
